<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">グラフ</h3>
  </div>
  <div class="panel-body">
    <legend>体重の傾向</legend>
    <%= line_chart( @graph, min: @min_weight-1, max: @max_weight+1 ) %>
  </div>
</div>
