<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">ランキング</h3>
  </div>
  <div class="panel-body">
    <legend>フルスクワット　重量ランキング　バーベルの部</legend>
    <legend>ベンチプレス　重量ランキング　バーベルの部</legend>
    <legend>デッドリフト　重量ランキング　バーベルの部</legend>
  </div>
</div>
