<div class="item" style="padding: 15px 10% 60px 10%;">
  <legend>プロフィール</legend>
  <div class="form-group row">
    <label for="input-date"  class="col-xs-3 col-form-label">日付</label>
    <div class="col-xs-9"><input type = "date" min="2014-01-01" max="2050-12-31" name="diaryday" value ="<%= @date %>" class="form-control input-sm"></div>
  </div>
  <div class="form-group row">
    <label for="input-height" class="col-xs-3 col-form-label">身長</label>
    <div class="col-xs-9"><input type="number" name="height" class="form-control input-sm" placeholder="身長 [cm]"></div>
  </div>
  <div class="form-group row">
    <label for="input-weight" class="col-xs-3 col-form-label">体重</label>
    <div class="col-xs-9"><input type="number" name="weight" class="form-control input-sm" placeholder="体重 [kg]"></div>
  </div>
  <div class="form-group row">
    <label for="input-muscle_mass" class="col-xs-3 col-form-label">筋肉量</label>
    <div class="col-xs-9"><input type="number" name="muscle_mass" class="form-control input-sm" placeholder="筋肉量 [kg]"></div>
  </div>
  <div class="form-group row">
    <label for="input-fat" class="col-xs-3 col-form-label">体脂肪率</label>
    <div class="col-xs-9"><input type="number" name="fat" class="form-control input-sm" placeholder="体脂肪率 [%]"></div>
  </div>
</div>
