<div class="item" style="padding: 15px 10% 80px 10%;">
  <legend>食事管理</legend>
  <div class="form-group row">
    <label for="input-date"  class="col-xs-3 col-form-label">日付</label>
    <div class="col-xs-9"><input type = "date" min="2014-01-01" max="2050-12-31" name="diaryday" value ="<%= @date %>" class="form-control input-sm"></div>
  </div>
  <div class="form-group row">
    <label for="input-protein" class="col-xs-3 col-form-label">タンパク質</label>
    <div class="col-xs-9"><input type="number" name="protein" class="form-control input-sm" placeholder="摂取量 [g]"></div>
  </div>
  <div class="form-group row">
    <label for="input-carbohydrate" class="col-xs-3 col-form-label">糖質</label>
    <div class="col-xs-9"><input type="number" name="carbohydrate" class="form-control input-sm" placeholder="摂取量 [g]"></div>
  </div>
  <div class="form-group row">
    <div class="col-xs-offset-3 col-xs-9">
      <input class="btn btn-primary" name="commit" type="submit" value="日記を入力">
    </div>
  </div>
</div>
