<div class="page-header">
  <%= link_to muscle_masses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_muscle_mass_path(@muscle_mass), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show muscle_mass</h1>
</div>

<dl class="dl-horizontal">
</dl>
