<div class="page-header">
  <%= link_to '/', class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>目標の設定</h1>
</div>

<%= render 'form' %>
